Repository cloudwego/volo, pull requests merged in 2022-11, with the labels that each got.

#88 chore: make the code more concise
  examples/src/hello/grpc_server.rs
  examples/src/hello/thrift_server.rs
  volo-build/src/config_builder.rs
  volo-build/src/grpc_backend.rs
  volo-build/src/lib.rs
  volo-build/src/thrift_backend.rs
  volo-cli/src/init.rs
  volo-grpc/src/body.rs
  volo-grpc/src/codec/decode.rs
  volo-grpc/src/codec/encode.rs
  volo-grpc/src/codec/mod.rs
  volo-grpc/src/context.rs
  volo-grpc/src/layer/cross_origin.rs
  volo-grpc/src/layer/grpc_timeout.rs
  volo-grpc/src/layer/loadbalance/mod.rs
  volo-grpc/src/metadata/encoding.rs
  volo-grpc/src/metadata/key.rs
  volo-grpc/src/server/mod.rs
  volo-grpc/src/status.rs
  volo-grpc/src/transport/connect.rs
  volo-thrift/src/client/mod.rs
  volo-thrift/src/context.rs
  volo-thrift/src/server.rs
  volo-thrift/src/transport/multiplex/client.rs
  volo-thrift/src/transport/multiplex/server.rs
  volo-thrift/src/transport/multiplex/thrift_transport.rs
  volo-thrift/src/transport/pingpong/client.rs
  volo-thrift/src/transport/pingpong/server.rs
  volo/src/loadbalance/layer.rs
  volo/src/net/incoming.rs
  volo/src/net/mod.rs
  volo/src/util/buf_reader.rs
  volo/src/util/mod.rs
Labels: C-maintenance

#92 feat: support zerocopy codec
  Cargo.lock
  Cargo.toml
  volo-build/src/lib.rs
  volo-build/src/thrift_backend.rs
  volo-grpc/src/server/mod.rs
  volo-grpc/src/transport/connect.rs
  volo-thrift/Cargo.toml
  volo-thrift/src/client/mod.rs
  volo-thrift/src/codec/default/framed.rs
  volo-thrift/src/codec/default/mod.rs
  volo-thrift/src/codec/default/thrift.rs
  volo-thrift/src/codec/default/ttheader.rs
  volo-thrift/src/codec/framed.rs
  volo-thrift/src/codec/mesh_header.rs
  volo-thrift/src/codec/mod.rs
  volo-thrift/src/codec/tt_header.rs
  volo-thrift/src/error.rs
  volo-thrift/src/lib.rs
  volo-thrift/src/protocol/mod.rs
  volo-thrift/src/server.rs
  volo-thrift/src/tags.rs
  volo-thrift/src/transport/incoming.rs
  volo-thrift/src/transport/multiplex/client.rs
  volo-thrift/src/transport/multiplex/server.rs
  volo-thrift/src/transport/multiplex/thrift_transport.rs
  volo-thrift/src/transport/pingpong/client.rs
  volo-thrift/src/transport/pingpong/server.rs
  volo-thrift/src/transport/pingpong/thrift_transport.rs
  volo/src/net/dial.rs
  volo/src/net/incoming.rs
  volo/src/net/mod.rs
Labels: A-volo, A-volo-build, A-volo-grpc, A-volo-thrift, C-enhancement

#94 fix: buf reader compact
  Cargo.lock
  volo/src/util/buf_reader.rs
Labels: A-volo, C-bug
