Repository cloudwego/volo, pull requests merged in 2022-12, with the labels that each got.

#104 fix: protocol detect
  volo-thrift/src/codec/default/framed.rs
Labels: A-volo-thrift, C-bug

#91 feat(grpc): de/compression support (#4)
  Cargo.lock
  Cargo.toml
  examples/Cargo.toml
  examples/src/compression/grpc_client.rs
  examples/src/compression/grpc_server.rs
  volo-build/src/grpc_backend.rs
  volo-grpc/Cargo.toml
  volo-grpc/src/client/mod.rs
  volo-grpc/src/codec/compression.rs
  volo-grpc/src/codec/decode.rs
  volo-grpc/src/codec/encode.rs
  volo-grpc/src/codec/mod.rs
  volo-grpc/src/context.rs
  volo-grpc/src/message.rs
  volo-grpc/src/server/mod.rs
  volo-grpc/src/transport/client.rs
Labels: A-volo-grpc, C-enhancement

#109 fix: bufreader length calc error
  Cargo.lock
  volo/src/util/buf_reader.rs
Labels: A-volo, C-bug
