Repository cloudwego/volo, pull requests merged in 2023-12, with the labels that each got.

#273 fix: enable the code index for volo gen code
  examples/volo-gen/src/lib.rs
  volo-cli/src/templates/grpc/volo-gen/src/lib_rs
  volo-cli/src/templates/thrift/volo-gen/src/lib_rs
  volo/src/macros.rs
Labels: A-volo, C-enhancement

#284 feat: refactor rpcinfo to eliminate useless unwrap
  Cargo.lock
  volo-build/Cargo.toml
  volo-build/src/grpc_backend.rs
  volo-cli/Cargo.toml
  volo-grpc/Cargo.toml
  volo-grpc/src/client/callopt.rs
  volo-grpc/src/client/meta.rs
  volo-grpc/src/context.rs
  volo-grpc/src/layer/loadbalance/mod.rs
  volo-grpc/src/server/meta.rs
  volo-grpc/src/server/router.rs
  volo-grpc/src/server/service.rs
  volo-grpc/src/transport/client.rs
  volo-http/Cargo.toml
  volo-macros/Cargo.toml
  volo-thrift/Cargo.toml
  volo-thrift/src/client/layer/timeout.rs
  volo-thrift/src/client/mod.rs
  volo-thrift/src/codec/default/ttheader.rs
  volo-thrift/src/context.rs
  volo-thrift/src/message_wrapper.rs
  volo-thrift/src/transport/multiplex/client.rs
  volo-thrift/src/transport/multiplex/server.rs
  volo-thrift/src/transport/pingpong/client.rs
  volo-thrift/src/transport/pingpong/server.rs
  volo/Cargo.toml
  volo/src/context.rs
  volo/src/loadbalance/layer.rs
Labels: A-volo, A-volo-build, A-volo-grpc, A-volo-thrift, C-enhancement

#297 fix(volo-build/volo-cli): git should use relative path instead of absolute path
  Cargo.lock
  volo-build/Cargo.toml
  volo-build/src/util.rs
  volo-cli/Cargo.toml
  volo-cli/src/idl/add.rs
  volo-cli/src/idl/update.rs
  volo-cli/src/init.rs
Labels: A-volo-build, A-volo-cli, C-bug
