Repository cloudwego/volo, pull requests merged in 2023-05, with the labels that each got.

#183 feat: support unsafe codec
  Cargo.lock
  Cargo.toml
  volo-thrift/Cargo.toml
  volo-thrift/src/codec/default/thrift.rs
Labels: A-volo-thrift, C-enhancement

#182 feat(loadbalance):Support consistent hash load balance
  Cargo.lock
  Cargo.toml
  examples/Cargo.toml
  examples/src/loadbalance/grpc_client.rs
  examples/src/loadbalance/grpc_server.rs
  volo/Cargo.toml
  volo/src/loadbalance/consistent_hash.rs
  volo/src/loadbalance/error.rs
  volo/src/loadbalance/mod.rs
Labels: A-volo

#186 feat: decode using bytes instead of BytesMut
  Cargo.lock
  volo-thrift/src/codec/default/framed.rs
  volo-thrift/src/codec/default/mod.rs
  volo-thrift/src/codec/default/thrift.rs
  volo-thrift/src/codec/default/ttheader.rs
Labels: A-volo-thrift
