Repository cloudwego/volo, pull requests merged in 2024-05, with the labels that each got.

#424 ci: cleanup cli tests
  .github/workflows/ci.yaml
Labels: A-ci

#425 fix(volo): add missing unsafe_unchecked feature
  volo/Cargo.toml
Labels: A-volo

#434 feat(volo-http): support any body or error for server
  examples/src/http/example-http-server.rs
  volo-http/src/body.rs
  volo-http/src/server/extract.rs
  volo-http/src/server/handler.rs
  volo-http/src/server/middleware.rs
  volo-http/src/server/mod.rs
  volo-http/src/server/route.rs
Labels: A-volo-http
